@charset "utf-8";
//
// $Author: linzhiqiang $
// $Date: 2013-11-15 14:45:31 +0800 (周五, 2013-11-15) $
//
// LEGO Reset Style
@import "normalize";

html {
	height: 100%;
	text-rendering: optimizelegibility;
}
body {
	word-wrap: break-word;
	// min-height: 100%;
	// _height: 100%;
}
img {
	height: auto;
	vertical-align: middle;
}
i, em {
	font-style: normal;
}
ol, ul, menu {
	list-style: none outside none;
}
fieldset,iframe,abbr,acronym {
	border: 0 none;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,select,textarea,p,blockquote,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0; padding: 0;
}
// 修复下方3pxBug

textarea {
	resize: vertical;
}
// 一致化 hr
hr {
	border: none;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 10px;
	*color: pink;
	*filter: chroma(color=pink);
	height: 10px;
	*margin: -7px 0 2px;
}
// 清除浮动
.clearfix {
	@extend %clearfix;
}
// 空白占位层
$blank-step: 5;
%blank {
	display: block;
	clear: both;
	overflow: hidden;
}
@for $i from 1 through 4 {
	.blank#{$blank-step*$i} {
		@extend %blank;
	}
	.blank#{$blank-step*$i} {
		height: #{$blank-step*$i}px;
	}
}
// 常用类
.fr {
	float: right;
	_display: inline;
}
.fl {
	float: left;
	_display: inline;
}
.show { display: block; }
.hide { display: none; }
.hidden {
	display: none !important;
	visibility: hidden;
}
.clear {
    clear: both;
}
.zoom {
	zoom: 1;
}
.highlight {color: #F60 !important;}
.important {font-weight: 700 !important;}
.no-border {border: 0 none !important;}
.transparent {
	opacity: .0;
	filter: alpha(opacity=0);
}
.blue-link {
	color: #0a8cd2!important;
	font-size: 12px;
	font-weight: normal;
    &:hover {
        text-decoration: underline;
        .txt {
        	text-decoration: underline;
        }
        i {
        	text-decoration: none;
        }
    }
}
.nowrap {
    white-space: nowrap;
    word-wrap: normal;
}


