@charset 'utf-8';

/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
$base-font-size: 23.4375px; //design 750px / 32 = 20px;
// $base-font-size: 20px; //design 640px / 32 = 20px;

@function pxToRem($px) {
	@return $px / $base-font-size /2 * 1rem;
}

@function black($opacity){
	@return rgba(0,0,0,$opacity);
}
@function white($opacity){
	@return rgba(255,255,255,$opacity);
}

@mixin reset{
	margin: 0;
	padding: 0;
}

@mixin inline-block{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@mixin clearfix{
	*zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
		line-height: 0;
	}
	&:after{
		clear: both;
	}
}
%clearfix{
	*zoom: 1;
	&:before,
	&:after{
		content: "";
		display: table;
		line-height: 0;
	}
	&:after{
		clear: both;
	}
}
@mixin size($width, $height) {
	width: $width;
	height: $height;
}
@mixin float($float:left){
	float: $float;
	_display: inline;
}
@mixin float-left{
	float: left;
	_display: inline;
}
@mixin float-right{
	float: right;
	_display: inline;
}
@mixin hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
@mixin reset-filter {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
@mixin background-color($value) {
	background-color: transparent;
	background-color: $value;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($value)},endColorstr=#{ie-hex-str($value)});
	zoom: 1;
}
@mixin inline-background($image,$width,$height) {
	background:inline-image($image) no-repeat center;
    width:pxToRem($width);
    height:pxToRem($height);
    background-size:pxToRem($width) pxToRem($height);
}
@mixin background($image,$width,$height,$rate:1) {
	display:block;
	background:url($image) no-repeat center;
    width:pxToRem($width * $rate);
    height:pxToRem($height * $rate);
    background-size:pxToRem($width * $rate) pxToRem($height * $rate);
    background-repeat:no-repeat;
}
@mixin break {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}
@mixin ellipsis {
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis; /* Opera 9-10.6 */
    text-overflow: ellipsis;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    max-width: 100%;
    // _width: 100%;
    text-align: left; /* Chrome 21+ bug */
}
@mixin pre {
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
@mixin wrap {
	text-wrap: wrap;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}
// http://www.hicss.net/solve-change-line-in-css/
@mixin nowrap {
	white-space: nowrap;
	word-break: keep-all;
}
@mixin opacity($opacity) {
	opacity: $opacity;
	filter: alpha(opacity=#{$opacity * 100});
}
@mixin min-height($height) {
	min-height: $height;
	height: auto !important;
	_height: $height;
}
//http://manaten.net/archives/270
@mixin sprite($image, $x, $y, $width, $height) {
	width: $width;
	height: $height;
	display: block;
	overflow: hidden;
	background: $image $x*-1 $y*-1 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
}

//border 
@mixin border($pos, $color) {
    content: "";
    position: absolute;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    @if $pos=='top'{
        #{$pos}: 0px;
        left: 0px;
        right: 0px;
        border-#{$pos}: 1px solid $color;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
    } @else if $pos=='bottom' {
    	 #{$pos}: 0px;
        left: 0px;
        right: 0px;
        border-#{$pos}: 1px solid $color;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
    } @else {
    	top: 0px;
        bottom: 0px;
        #{$pos}: 0px;
        border-#{$pos}: 1px solid $color;
        transform: scaleX(.5);
        -webkit-transform: scaleX(.5);
    }
}



